.navLinkItem {
  background-color: orange;
  height: 50px;
  width: 50px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

@keyframes flash {
  0% { border-color: #ff9d00; }
  50% { border-color: transparent; }
  100% { border-color: #ff9d00; }
}

.flashingBorder {
  border: 1px solid transparent;
  animation: flash 1s infinite;
}

.tokenActive{
  z-index: 9999;
  content: "";
}

.tokenActive:before{
  background-color: #1767b7;
  content: "";
  height: 8px;
  width: 8px;
  position: relative;
  display: block;
  left: -10px;
  bottom: -50%;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}


.overviewInfo{
  padding:10px;
  align-items:flex-start;
}

.overviewInfo span:last-child{
  font-weight:bold;
}

.tradeAmountNegative{
  color: rgb(249, 77, 92);
  font-size: 18px;
}

.tradeAmountPositive{
  color: rgb(33, 184, 40);
  font-size: 18px;
}


.overviewInfo span:first-child{
  color:#555353;
  font-size:14px;
}

.textButton {
  padding: 0;
  min-width: 0;
  text-transform: none;
  
  cursor:pointer;
  border-radius: 0;
  color: #1976d2;
}

.textButton:hover {
  text-decoration:underline;
}

.tokenTableRow:hover{
  background-color:rgba(128, 128, 128, 0.308);
  cursor:pointer;
}


.tokenFieldCnt{
  background-color:#80808024;
  display:flex;
  gap:5px;
  flex-direction:column;
  width:200px;
  height:80px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  align-items:flex-start;
}

/* .tokenFieldsCnt{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
} */
