.navLinkItem {
  background-color: orange;
  height: 50px;
  width: 50px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

@keyframes flash {
  0% { border-color: #ff9d00; }
  50% { border-color: transparent; }
  100% { border-color: #ff9d00; }
}

.flashingBorder {
  border: 1px solid transparent;
  animation: flash 1s infinite;
}

.tokenActive{
  z-index: 9999;
  content: "";
}

.tokenActive:before{
  background-color: #1767b7;
  content: "";
  height: 8px;
  width: 8px;
  position: relative;
  display: block;
  left: -10px;
  bottom: -50%;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}
